body{
  font-family: 'Raleway', sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

/************* Header **************/

header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

header a { 
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 20px;
}

header a img {
  height: 19px;
  width: 61px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

nav ul {
  display: flex;
  margin-top: 0;
  height: 100%;
}

header li {
  display: flex;
  align-items: center;
  height: 100%;
}

header li a {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0px 40px 0px 40px;
  height: 100%;
} 

header li a:hover
{
  color: #0065FC;
  border-top: 0.2em solid #0065FC;
}

/*************Section Recherche************/

main {
  margin: 0px 20px 0px 20px;
}

main h1 {
  font-size: 22px;
  margin-bottom: 0;
}

.description {
  margin-top: 15px;
}

#recherche {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 20px;
}

.position {
  display: inline-block;
  padding: 15px 15px 15px 15px;
  border-radius: 20px 0px 0px 20px;
  background-color: #f2f2f2;
}


input {
  height: 50px;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
  padding-left: 20px;
}

button {
  border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 16px;
    cursor: pointer;
}

button .fas {
  display: none;
}

.recherche {
  background: #0065FC;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 0px 20px 20px 0px;
  height: 50px;
  font-weight: bold;
  width: 125px;
}

input::placeholder {
  color: black;
  font-weight: bold;
  font-family: 'Raleway';
  border: none;
}

/**************Section Filtres***********/

#filtresCont {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-top: 30px;
}

.filtres {
  display: flex;
}

.filtres i {
  border-radius: 30px;
  padding: 14px 17px 14px 17px;
  color: #0065FC;
}
.filtres a {
  border-radius: 40px;
    border: solid #f2f2f2 2px;
    display: flex;
    align-items: center;
    padding-right: 15px;
    margin-left: 25px;
}

#info {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.fa-info {
  font-size: 16px;
  color: #0065fc;
  border: 1px #d9d9d9 solid;
  border-radius: 20px;
  padding: 10px 15px 10px 15px;
  margin-right: 10px;
}

/************Bloc Hebergement***********/

#blocLogement {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

#blocHebergement {
  width: 69%;
  margin-right: 30px;
  background-color: #F2F2F2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

#blocHebergement h2 {
  font-size: 25px;
  margin: 50px 0px 10px 37px;
}

#logements {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 37px;
    padding-right: 37px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 230px;
  box-shadow: 0px 5px 20px #999;
  border-radius: 20px;
  min-width: 220px;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.imageCard {
  display: flex;
  margin: 5px;
  border-radius: 20px 20px 0px 0px;
  height: 125px;
  overflow: hidden;
}

.imageCard img {
  object-fit: cover;
  width: 100%;
}

.cardBody {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 15px;
}

.cardBody h4 {
 font-size: 15px;
 margin: 4px 0px 4px 0px;
}

.cardBody p {
  font-size: 15px;
  margin: 4px 0px 4px 0px;
}

.imageEtoile {
  color: #0065FC;
  margin-top: 12px;
}

.gris {
  color: #F2F2;
}

.afficher {
  padding-left: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*************Bloc Aside***********/

aside {
  background-color: #F2F2F2;
  border-radius: 20px;
  width: 30%;
}

.titrePopulaire {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.titrePopulaire h2 {
  font-size: 25px;
    margin: 50px 0px 10px 37px;
}

.titrePopulaire h2 i {
  padding-top: 30px;
  padding-right: 30px;
}
.titrePopulaire i {
  font-size: 25px;
    margin: 50px 37px 10px 0px;
}

#cardAside {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 37px;
  padding-right: 37px;
}

.cardP {
  display: flex;
    flex-direction: row;
    width: 100%;
    height: 160px;  
    box-shadow: 0px 5px 20px #999;
    border-radius: 20px;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
}

.cardP:hover {
  transform: scale(1.1);
}

.cardP a {
  display: flex;
}

.imageCardP {
  margin: 5px;
    border-radius: 20px 0px 0px 20px;
    width: 58%;
    overflow: hidden;
}

.imageCardP img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.cardBodyP {
  padding: 15px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  width: 66%;
}

.cardBodyP h4 , p {
  font-size: 15px;
  margin: 4px 0px 4px 0px;
}

.imageEtoileP {
  margin-top: 48px;
}

/**************Bloc Activité**************/

#blocActivite {
  border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 35px 30px 70px 30px;
}

.blocActivites {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 35px;
}

#contenuActivite {
  display: flex;
  justify-content: space-between;
}

.cardActivite {
  display: flex;
    flex-direction: column;
    width: 23%;
    box-shadow: 0px 5px 20px #999;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.cardActivite:hover {
  transform: scale(1.1);
}

.imageCardA {
  border-radius: 20px 20px 0px 0px;
    height: 100%;
    overflow: hidden;
}

.cardActivite img {
  border-radius: 20px 20px 0 0;
    width: 100%;
    height: 425px;
    object-fit: cover;
}

.cardBodyA {
  padding-left: 13px;
}

/***********Bloc Footer*********/

footer {
  display: flex;
  margin-top: 75px;
  background-color: #f2f2f2;
  margin-left: 30px;
  margin-right: 30px;
}

#footerCont {
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.footerCont ul {
  padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/************Tablette*************/

@media screen and (min-width: 769px) and (max-width: 992px) {

  * {
    font-size:11px;
  }

/*************Header***********/

  header {
    display: flex;
    align-items: center;
    height: 100px;
      
  }

/*************Filtres**********/

  #filtresCont {
    width:100%;
  }

/************Section Bloc Logement Hebergement***********/

  #blocLogement {
    display:flex;
    flex-direction: column;
    gap:2em;
  }
   
  #blocHebergement {
    width:100%;
  }
  
  #logements {
    padding-left: 15px;
    padding-right: 15px;
  }
  .card {
    height: 190px;
  }

  .imageCard img {
    height: 115px;
  }
  .cardBody {
    margin-top: -14px;
  }
  .cardBody p, h4 {
    margin:0;
  }

  .imageEtoile {
    margin-top:0.5em
  }

/**************Aside*************/

  aside {
    width: 100%;
    height: 329px;
  }

  #cardAside {
    flex-direction: row;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .cardP {
    height: 140px;
  }
  .imageCardP {
    width: 40%;
  }

  .cardBodyP {
    padding: 5px 0px 0px 0px;
  }

  .imageEtoileP {
    margin-top: 48px;
  }

/*************Bloc Activite**********/

  .blocActivites {
    margin-left: 0;
    margin-right: 0;
  }

  #contenuActivite {
    margin-top: 15px;
  }

  .cardActivite img {
    height: 215px;
  }

  .cardBodyA h4 {
    margin: 4px;
  }

/*************Footer*************/

  footer {
    margin-left: 20px;
    margin-right: 20px;
  }

  .footerCont ul {
    gap: 9px;
  }
}
/***************Mobile************/

@media screen and (min-width: 320px) and (max-width:768px) {
  
  * {
    font-size: 13px;
  }

/************Header************/

  header { 
    display: flex;
    margin: 20px 0px 20px 0px;
    flex-direction: column;
  }

  .logoBox {
    margin-left: 0;
  }

  nav {
    width: 100%;
  }

  nav ul {
    width: 100%;
    padding: 0;
  }

  nav li {
    width: 50%;
  }

  nav li a {
    width: 100%;
    padding: 0;
    display: flex;    
    justify-content: space-around;
  }

  header li a:hover {
    border-top: none;
    border-bottom: 0.2em solid #0065FC;
    margin: 0;
  }

/************Main Section************/

  main { 
    margin: 0;
  }
  section {
    margin: 0px 15px 0px 15px;
  }

  .description {
    margin-top: 15px;
  }

/************Recherche***********/

  input {
    height: 42px;
  }

  button {
    padding: 12px;
  }

  button span {
    display: none;
  }

  button .fas {
    display: inline-block;
  }

/************Filtres***********/

  #filtresCont {
    flex-direction: column;
  }

  #filtresCont h3 {
    width: 100%;
  }

  .filtres {
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
  }

  .filtres a {
   margin-left: 0;
  }

  .filtres i {
    padding: 15px 4px 15px 8px;
  }

/**********Info*********/

  #info p {
    padding-top: 20px;
  }

/*************Bloc Logement**********/

  #blocLogement {
    flex-direction: column-reverse;
  }
  
/************Bloc Populaire**********/

  aside {
    width: 100%;
    border-radius: 0;
  }

  .titrePopulaire h2 {
    margin-left: 15px;
    margin-top: 25px;
  }

  .titrePopulaire i {
    margin-right: 15px;
    margin-top: 25px;
  }

  #cardAside {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
  }

/************Bloc Hebergement**********/

  #blocHebergement {
    margin: 0;
    border-radius: 0;
    background-color: white;
    width: 100%;
  }

  .titreHebergement {
    margin-left: 15px;
  }

  #logements {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .card {
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
    height: 200px;
  }

  .cardBody h4 {
    margin-top: 0;
  }

  .cardBody p {
    margin-top: 0;
  }

  .imageEtoile {
    margin-top: 0;
  }

/************Bloc Activités***********/

  .blocActivites {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .blocActivites h2 {
    margin-left: 15px;
  }

  #contenuActivite {
    margin-left: 15px;
    margin-right: 15px;
    flex-direction: column;
  }

  .cardActivite {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    box-shadow: 0px 5px 20px #999;
    border-radius: 20px;
    margin-top: 30px;
  }

  .cardActivite img {
    object-fit: cover;
    width: 100%;
    height: 150px;
  }

/*************Footer*********/

  footer {
    width: 100%;
    margin: 55px 0px 0px 0px;
  }

  #footerCont {
    flex-direction: column;
    margin-left: 15px;
  }

  .footerCont ul {
    gap: 7px;
  }

}
